li {
  list-style: none;
}

.table-container {
  width: 90%;
  margin: 25px auto;
}

.table-head {
  display: grid;
  grid-template-columns: 1fr 4fr 0.75fr 0.85fr;
}

.mission {
  display: grid;
  grid-template-columns: 1fr 4fr 0.75fr 0.85fr;
  grid-gap: 1px;
}

.table-head li {
  border: 1px solid black;
  text-align: center;
  padding: 15px;
  background-color: #f8f8f8;
  font-size: 20px;
}

.status {
  grid-area: 1/3/1/5;
}

.center-items {
  display: grid;
  align-items: center;
  justify-items: center;
}

.description {
  text-align: justify;
  text-justify: inter-word;
}
