body {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400 !important;
  margin: 0;
}

.logo-header {
  height: 70px;
}

hr {
  width: 90%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

.link {
  text-decoration: none;
  color: rgb(72, 142, 241);
}

.active {
  text-decoration: none;
  color: rgb(255, 0, 0);
}
